.version.index /* version checker */
{
	color: #000003;
	background-color: #A11BDC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1600px;
	min-height: 900px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu75
{
	width: 0.01px;
	margin-right: -10000px;
}

#u75
{
	z-index: 2;
	height: 900px;
	background: transparent url("../images/yosemite-1.jpg") no-repeat center center;
	background-size: cover;
}

#u75-bw
{
	z-index: 2;
	height: 900px;
}

#u86
{
	z-index: 3;
	height: 900px;
	background-color: #494949;
	background-color: rgba(0,0,0,0.71);
	-pie-background: rgba(0,0,0,0.71);
}

#u86-bw
{
	z-index: 3;
	height: 900px;
}

#pu82-8
{
	width: 0.01px;
	padding-bottom: 460px;
	margin-right: -10000px;
	margin-top: 229px;
}

#u82-8
{
	z-index: 4;
	width: 1700px;
	min-height: 358px;
	background-color: transparent;
	line-height: 160px;
	font-size: 133px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 229px;
	left: 50%;
	margin-left: -850px;
}

#u82,#u82-6
{
	color: #FFFFFF;
}

#u87-6
{
	z-index: 12;
	min-height: 63px;
	background-color: transparent;
	line-height: 53px;
	color: #FFFFFF;
	font-size: 44px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 626px;
}

#u82-3,#u87-2
{
	color: #FF0000;
}

#u87-6-bw
{
	z-index: 12;
}

body
{
	position: relative;
	min-width: 1600px;
}

